h1{
  color:red;
  text-align: center;

}
p{
  font-style: oblique;
  font-family: monospace;
  line-height: 1.5;
  color: green;
  text-align: center;
}
h2{
  color: red;
  text-align: left;
  <em>
  border-radius: 0;
}
